<%- include('./partials/head.ejs') %>

<body>
  
<%- include("./partials/nav.ejs") %>

  
 
  

  <div class="container">
    <table>
      <thead>
        <tr>
            
            <th>Item Name</th>
            <th>Item Price</th>
            <th>delete</th>
            <th>update</th>

        </tr>
      </thead>

      <tbody>
        
          <% if(items.length>0)  { %>

           <% items.forEach(item=>{ %>

            <tr>

                <td><%= item.name %></td>
                <td><%= item.price %></td>

                <td>  <a href="/delete-item/<%=item.id%>"><i class="material-icons">delete</i></a>
                </td>
                <td>  <i class="material-icons">edit</i>
                </td>

              </tr>
            <% }) %>


              

            <% }%>
        
       
      </tbody>
    </table>
          
  </div>

  
</body>
</html>